<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Simple Ethereum Wallet</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="../public/css/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Sajan's Ethereum Wallet</h1>
      <fieldset width="80%">
      <!-- form to select sender, recipient and value -->
      <form action="/block" method="GET">
        <label for="blockNumber">Block Number</label>
        <input type="text" name="blockNumber" id="blockNumber" placeholder="(for example. 2)" />
        <input type="submit" value="Search" />
      </form>
      </fieldset>
    </div>
  </body>
</html>